{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}
.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="vertical-menu">
  <a href="{% url 'inbox' %}" class="">Inbox</a>
  <a href="{% url 'addorg' %}">Add Organization</a>
  <a href="{% url 'vieworg' %}">View Organization</a>
  <a href="{% url 'logout' %}">Logout</a>
</div>

</body>
</html>
